<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page 1 + 2</h1>
    <h3><%= ["hello","bonjour","namaste"][0]%></h3>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur eligendi, 
        dolorum nihil earum tempora consequatur deserunt? Iure, corporis quis magnam 
        nulla maiores soluta quibusdam, dolor non dolorum, eos perferendis optio.
    </p>
    <buttin>click me!</buttin>
    
</body>
</html>