*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #box{
    height: 200px;
    width: 200px;
    background-color: crimson;
}
#inner{
    height:50%;
    width: 50% ;
    background-color: lightblue;
} */
/* #box{
    height: 20vw;
    width: 20vw;
    background-color: crimson;
} */

#parent {
    height: 300px;
    width: 500px;
    background-color: rgb(12, 227, 216);
    font-size: 20px;
}
h1{
    font-size: 2em;
}