
        /* h1 {
            color: blue;
            background-color: grey;
        }

        p {
            color: red;
            background-color: cornsilk;
        }

        Button {
            color: Gold;
            background-color: black;

        } */

        /* h2{
         color: orange;
        }

        p {
          color: white;
          background-color: Blue;
        }

        button{
         color: white;
         background-color: black;
        } */

        /* h2{
            text-align: center;
            font-family: Script;
        } */

       /* h1{
         font-family: League spartan;
         color: #ffa511;
         text-align: center;
         font-size:55px;
         font-weight:900;
        letter-spacing:2px;
        line-height:1.5;
         text-decoration: teal double underline;
         text-transform: uppercase;
       } */
        /* h3 {
          background-color: green;
        } */

        /* h1{
          color: pink;
        }
        #greet {
          color: yellow;  
        }

        .myClass {
          color: brown;
        } */

         /* div  {
          height:300px;
          width:250px;
          background-color: pink; */
          /* border-width: 5px;
          border-style: solid;
          border-color: black; 
        */
        /* border: 5px solid black;
        border-radius: 10px;
        padding-top:20px; */
        /* border-left-color:blue;
        border-left-style: dashed; */
         /* } */

        /* h1 {
          border-width: 2px;
          border-style: dashed;
          border-color: purple;
          border: 2px dashed green;
        } */

        /* button{
          border:2px solid black;
          border-radius: 10px;
          padding-left:25px;
          padding-right:25px;
          background-color: yellow;
        } */
        /* #outer{
          height: 200px;
          width:70px;
          border: 2px solid black;
        }
        .inner {
          height: 50px;
          width: 50px;
          border: 2px solid black;
          margin: 10px;
          border-radius: 50%;
        }
        
        #red {
          background-color: red;
        }

        #yellow {
          background-color: yellow;
        }

        #green {
          background-color: green;
        } */
         /* h2 {
          display:inline;
          background-color: pink;
         }
         span {
          display: block;
          background-color: yellow;
         } */
          /* div{
            height: 200px;
            width: 200px;
            background-color: greenyellow;
            border: 2px solid black;
            margin: 5px;
            display: inline-block;
          } */

          /* h1{
            border: 2px solid black;
            width: 33.3%;
          }
          #outer{
            height: 400px;
            width: 400px;
            background-color: pink;
            margin: 50px;
          }

          #inner{
            height: 100px;
            width: 100px;
            background-color: cornflowerblue;
            margin-left: 10%;
          } */

          #outer {
            height: 400px;
            width: 400px;
            border: 2px solid black;
            background-color: pink;
            font-size: 20px;
          }

          #inner {
            height: 100px;
            width: 200px;
            background-color: cornflowerblue;
            font-size: 2em;
          }