#container {
    height: 400px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction:row;
     justify-content: flex-start; 
    /* flex-wrap:wrap; */
    align-content: baseline;
}
#org {
    align-self:flex-start;
    /* flex-basis:300px ; */
    flex: 2 2 100px;
}
h1 {
    text-align: center;
}

#container div{
    height: 80px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}