*{
    font-family: "Courier New";
}
h1,
h3{
    color: #b92b27;
}
#login{
    background-color: white;
    color: red;
}
#signup{
    background-color: red;
    color: white;
}
.upvote {
   background-color:green;
   color: aliceblue;
}

.post a{
    color: purple;
    background-color: yellow;
}
nav ul li {
    color: hotpink;

}
 
p+h3{
    text-decoration: underline;
}
.upvote + button {
    background-color:cornflowerblue ;
}

div > input{
    background-color: darkgrey;
}
input[type="text"]{
    color: red;
}

input[type="password"] {
    color: green;
}

input[type]{
    background-color: ghostwhite;
}
button:hover{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration:none ;
}
button:active{
    background-color: hotpink;
    color: black;
}
p:active{
    font-weight: bold;
    color: green;
}
input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}
div:nth-of-type(2n){
    background-color: blanchedalmond;
}
    h3 {
        background-color: yellow;
    }
    h3 {
        background-color: blue;
    }
/* *{
          font-family: courier new;

}
h1{
    color: #1b74e4;
}

#searchbtn {
    color: white;
    background-color: black;

}
.userbtn{
    background-color: aqua;
} */