/* div {
    height: 100px;
    width: 100px;
    background-color: #4dff00ff;
    margin: 0 auto;
    margin-top: 10px; 
    transition: margin-top 2s ease-in 0.2s;
} */
/* #opacity {
    background-color: #ffa511;
} */

/* div:hover {
    margin-top: 400px;
    background-color: pink;
     background-color: black;
    border-radius:50%;   
} */

  /* div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874; 
    border: 2px solid black; *
    margin: 10px auto;
    box-shadow: 2px 2px 15px black;
 }  */

 /* .card {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5%;
    box-shadow: 2px 4px 8px black;
    transition: 2s ;

.desc {
    padding: 0 4px 0 4px;
} 
 }
 img {
    width: 100%;
    border-radius: 8px 8px 5px 5px;
 }
 .card:hover {
    box-shadow: 4px  8px 16px;
 } */

 .face {
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius:50%;
 }
 .mouth{
    width: 200px;
    height: 75px;
    background-color: orangered;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;
 }
 .left-eye,
 .right-eye {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
 }
 .right-eye {
    left: 250px;

 }
