#container{ 
    height: 400px;
    width: 400px;
    border: 2px;
    background-color: white;
    border: 2px solid lightseagreen;
    flex-wrap: wrap;
    display: flex;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
}
.Box {
    height: 100px;
    width: 100px;
    background-color: grey;
    border:2px solid black;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;

}

#navbar {
    height: 50px;
    width: 600px;
    background-color: pink;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    display: flex;
    justify-content:space-evenly;
    align-content:center;


}
.option{
    height: 50px;
    width: 80px;
    border-radius: 10px;
    margin-left:5px; 
    font-size: 24px;
    line-height: 50px;
}