.container {
    width:600px;
    height: 300px;
    background-color: rgb(3, 32, 32);
    border: 2px solid red;
    display: grid;
    /* grid-template-rows: 70px 70px 70px;
    grid-template-columns:200px 200px 200px ; */

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
    /* row-gap: 10px;
    column-gap: 15px; */
    grid-gap: 10px;
}
.item {
    /* width: 100px;
    height: 10%px; */
    background-color: yellowgreen;
    border: 2px solid black;
    text-align: center;
} 